@import 'bootstrap';
@import 'bootstrap/theme';

body {
  background-image: url('/assets/images/metal.jpg');
  color: white;
}

.landing-div {
  height: 600px;
}

.welcome-text {
  padding: 10% 0;
}

.welcome-description {
  margin-top: 0;
}

.leaflet {
  height: 450px;

  position: relative;
  width: 100%;
  z-index: 1;
}

.popup-image {
  height: 100px;
  width: 150px;
}
