@import 'bootstrap';
@import 'bootstrap/theme';

// body {
//   background-color: ecru;
// }

.leaflet {
  height: 600px;
  width: 100%;
  z-index: 1;
  position: relative;
}

.popup-image {
  height: 100px;
  width: 150px;
}
