<div class="col-md-12 text-center landing-div">
  <div class="welcome-text">
    <h1 class="welcome-title">Brooklyn Artwalks</h1>
    <h3 class="welcome-description">Immerse yourself in art.</h3>

    {{#link-to 'artwalks'}}Enter{{/link-to}}
  </div>
</div>
