<div class="col-md-12 text-center welcome-text">
  <div class="welcome-div">
    <h1 class="welcome-title">Brooklyn Artwalks</h1>
    <h3 class="welcome-description">Immerse yourself in art.</h3>

    <button class='btn btn-lg'>{{#link-to 'artwalks' class="landing-link"}}Enter{{/link-to}}</button>
  </div>
</div>
