{{my-application signOut="signOut"}}

<div class="content">
<h2>Artwalks</h2>

{{!-- <ul>
{{#each model as |artwalk|}}
  <li>{{artwalk.title}}</li>
{{/each}}
</ul> --}}

  {{#each model as |artwalk|}}
    {{artwalk-walk/card artwalk=artwalk
                      edit='editArtwalk'
                      delete='deleteArtwalk'}}
  {{/each}}

  {{#link-to 'artwalks/new' class="dynamic-a"}}Create a new artwalk{{/link-to}}<br>
  {{#link-to 'application' class="dynamic-a"}}Link to home{{/link-to}}
</div>
