<h2>Artwalks</h2>

<ul>
{{#each model as |artwalk|}}
  <li>{{artwalk.title}}</li>
{{/each}}
</ul>

andlajad


{{!-- <h2>Artwalks</h2>
{{#each model as |artwalk|}}
  {{artwalk-walk/card artwalk=artwalk
                    edit='editArtwalk'
                    delete='deleteArtwalk'}}
{{/each}}

{{#link-to 'artwalks/new'}}Add to new artwalk{{/link-to}}<br>
{{#link-to 'application'}}Link to home{{/link-to}} --}}
