<form {{action 'save' on='submit'}}>
  {{input placeholder='Artwalk Title'
          value=artwalk.title}}
  <button class='btn btn-xs' type='submit'>Save</button>
  <button class='btn btn-xs' {{action 'cancel'}}>Cancel</button>
</form>
